@model Darkengines.Users.Templates.Models.EmailAddressConfirmationModel;

<html>
<body>
	<div>
		Hello, click on the button bellow to verify your email address.
	</div>
	<div>
		<a href="@Model.EmailAddressConfirmationUri">Verify @Model.UserEmailAddress.EmailAddress</a>
	</div>
</body>
</html>