@model Darkengines.Users.Templates.Models.UserPasswordResetTokenModel;

<html>
<body>
	<div>
		Hello, click on the button bellow to reset your password.
	</div>
	<div>
		<a href="@Model.PasswordResetUri">Reset your password.</a>
	</div>
</body>
</html>