<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments="./Darkengines.Web.dll" stdoutLogEnabled="true" stdoutLogFile="./logs/stdout" hostingModel="inprocess">
      </aspNetCore>
    </system.webServer>
  </location>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="10000" maxQueryString="10000" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
<!--ProjectGuid: C26FF919-9231-4D9E-B627-2B2A683F64AB-->